# Node.js dependencies
node_modules/

# Environment variables file
.env

# Log files
*.log

# Sequelize migration files
migrations/

# IDE and text editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace